figure {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem 1rem 2rem;
}

figcaption {
  padding: 0 0 0.5rem;
  font-size: 0.694rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #444853;
}

pre {
  margin: 0;
  border-right: 1px solid #cccece;
  overflow: auto;
}

code {font-size: 0.833rem;}