/* ------------------------------------------
  DETAILS
--------------------------------------------- */
.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem 0;
}

.details.first {padding: 0 2rem;}

@media (min-width: 48rem) {
.details {
  flex-direction: row;
}}


/* ------------------------------------------
  DESIGN SAMPLE
--------------------------------------------- */
@media (min-width: 48rem) {
.design-sample {
  width: 50%;
  padding: 0 1rem 0 0;
}}


/* ------------------------------------------
  CODE SAMPLE
--------------------------------------------- */
@media (min-width: 48rem) {
.code-sample {
  width: 50%;
  padding: 0 0 0 1rem;
}}


/* ------------------------------------------
  CODE STYLE
--------------------------------------------- */
figure {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0;
}

@media (min-width: 48rem) {figure:first-of-type {padding: 0;}}

figcaption {
  padding: 0 0 0.5rem;
  font-size: 0.694rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #444853;
}

pre {
  margin: 0;
  border-right: 1px solid #cccece;
  overflow: auto;
}

code {font-size: 0.833rem;}