/* ------------------------------------------
  STATUS BARS
--------------------------------------------- */
.status-bar {
  position: fixed;
  z-index: 1500;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-20rem);
  -moz-transform: translateY(-20rem);
  -o-transform: translateY(-20rem);
  transform: translateY(-20rem);
}

.status-bar.error {background-color: #d0021b;}

.status-bar.success {background-color: #008000;}

.status-bar.error.show,
.status-bar.success.show {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.status-bar.error.slideInDown.animated,
.status-bar.success.slideInDown.animated {top: 0;}

.status-bar .status-bar-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
}

.status-bar .status-bar-details p {
  padding: 0;
  font-weight: 400;
  color: #ffffff;
}

.status-bar .status-bar-details span {font-size: 2rem;}

.status-bar .status-bar-details span.dismiss {cursor: pointer;}

.status-bar .status-bar-details span:first-of-type {padding: 0 1rem 0 0;}

.status-bar .status-bar-details span:last-of-type {padding: 0 0 0 1rem;}

@media (min-width: 48rem) {.status-bar .status-bar-details {padding: 2rem;}}