// PASSWORD REQUIREMENTS LIST
ul.requirements {
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

ul.requirements li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 1rem;
  line-height: 1.5;
}

ul.requirements li:last-of-type {padding: 0;}

ul.requirements li span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 4rem;
  min-width: 4rem;
  max-width: 4rem;
  height: 1.5rem;
  font-size: 1.5rem;
}


// DEFAULT REQUIREMENTS LIST
ul.requirements li.default span i.la.la-circle {display: flex;}

ul.requirements li.default span i.la.la-check-circle,
ul.requirements li.default span i.la.la-exclamation-circle {display: none;}


// VALID REQUIREMENTS LIST
ul.requirements li.valid {color: $valid;}

ul.requirements li.valid span i.la.la-check-circle {
  display: flex;
  color: $valid;
}

ul.requirements li.valid span i.la.la-circle,
ul.requirements li.valid span i.la.la-exclamation-circle {display: none;}


// INVALID REQUIREMENTS LIST
ul.requirements li.invalid {color: $invalid;}

ul.requirements li.invalid span i.la.la-exclamation-circle {
  display: flex;
  color: $invalid;
}

ul.requirements li.invalid span i.la.la-circle,
ul.requirements li.invalid span i.la.la-check-circle {display: none;}


// SHOW/HIDE PASSWORD SETTINGS
.field .show-hide-password {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 15;
  width: auto;
  height: 1.75rem;
  font-size: 1.5rem;
  color: var(--color-one);
  cursor: pointer;
  @include transition(all, 0.25s, ease-in-out);
}

.field .show-hide-password:hover,
.field .show-hide-password:focus {color: var(--color-two);}