// TOOLBAR
.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0 1rem;
  background-color: $white;
  .top-line, .bottom-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    form {
      width: 100%;
      padding: 0;
      fieldset {
        width: 100%;
        .field {
          padding: 0 0 0 1rem;
          span.error-message {display: none;}
        }
      }
    }
  }
}


// SEARCH
.toolbar .search {
  width: 60%;
  .field input {min-height: 2.5rem;}
  .field input, .field label {
    padding: 0 0 0 1.5rem;
    font-size: 0.694rem;
  }
  .field label {@include transform(translate(-1.5rem, 0));}
  .field input::placeholder {opacity: 1;}
  .field .search-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    left: 1rem;
    z-index: 10;
    font-size: 1rem;
  }
}


// SORT
.toolbar .sort {
  width: 40%;
  .field select {min-height: 2.5rem;}
  .field select, .field label, .field .Select.Select--single {font-size: 0.694rem;}
  .field .Select.Select--single {font-weight: 400;}
  .field .select-icon {
    top: 47%;
    right: 0;
    font-size: 0.833rem;
  }
}


// CHIPS
.toolbar ul.chips {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0 0 0 1rem;
  li {
    display: inline-block;
    width: auto;
    height: 1.5rem;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0 0.5rem 0 0.75rem;
    border-radius: 2rem;
    font-size: 0.694rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: $white;
    background-color: $dark-gray;
    opacity: 1;
    @include transition(all, 0.25s, ease-in-out);
    i {
      padding-left: 0.5rem;
      line-height: 1.5rem;
      cursor: pointer;
      @include transition(all, 0.25s, ease-in-out);
    }
    i:hover, i:focus {color: $med-gray;}
  }
  li:first-of-type {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-weight: 700;
    text-align: left;
    color: $black;
    background-color: $white;
  }
  li.hidden {
    display: none;
    opacity: 0;
  }
}