// TOOLBAR
.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0 1rem;
  background-color: $white;
  form {
    width: 100%;
    padding: 0;
    fieldset {
      width: 100%;
      .field {padding: 0 0 0 1rem;}
    }
  }
}


// SEARCH
.toolbar .search {
  width: 50%;
  .field input, .field label {
    padding: 0 0 0 1.5rem;
    font-size: 0.694rem;
  }
  .field label {@include transform(translate(-1.5rem, 0));}
  .field input::placeholder {opacity: 1;}
  .field .search-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    left: 1rem;
    z-index: 10;
    font-size: 1rem;
  }
}


// SORT
.toolbar .sort {
  width: 50%;
  .field select, .field label {font-size: 0.694rem;}
  .field select {min-height: 0;}
  .field .select-icon {
    top: 47%;
    right: 0;
    font-size: 0.833rem;
  }
}