// TOOLBAR
.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 0;
  background-color: $white;
}

.toolbar .search {
  display: block;
  width: 100%;
  form {
    width: 100%;
    padding: 0;
    fieldset {
      width: 100%;
      .field input, .field label {padding: 0 0 0 2rem;}
      .field input:not(:placeholder-shown) + label, .field input:focus + label {
        @include transform(translate(-2rem, 0));
      }
      .field .search-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        bottom: 50%;
        left: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}