//VARIABLES
$serif: "Roboto Slab", serif;
$sans-serif: "Montserrat", sans-serif;

$white: #ffffff;
$off-white: #f5f5f5;
$light-gray: #cccece;
$dark-gray: #444853;
$black: #000000;
$invalid: #d0021b;
$valid: #008000;
$color-one: #2e84ed;
$color-two: #0f4a92;


//MIXINS
@mixin transition($property: all, $duration: 0.25s, $timing: ease-in-out, $delay: 0s) {
  -webkit-transition: $property $duration $timing $delay;
  -moz-transition: $property $duration $timing $delay;
  -ms-transition: $property $duration $timing $delay;
  -o-transition: $property $duration $timing $delay;
  transition: $property $duration $timing $delay;
};

@mixin transform($transform: all) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};

@mixin appearance($appearance: none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
};


// BASE
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: $sans-serif;
  font-size: calc(1rem + 0.5vw);
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  color: $black;
}

body {animation: 1s ease-out 0s 1 fadeOut;}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {animation: 1s ease-out 0s 1 fadeIn;}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: $white;
  background: $color-one;
}

::selection {
  color: $white;
  background: $color-one;
}

a {
  outline-color: $color-one;
  font-weight: 500;
  text-decoration: none;
  color: $color-one;
  @include transition(all, 0.25s, ease);
}

a:hover, a:focus, a:active {color: $color-two;}

img {
  width: 100%;
  height: auto;
  margin: 0;
}


// TYPOGRAPHY
h1, h2, h3, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
}

h1 {
  font-family: $serif;
  font-size: 1.728rem;
  font-weight: 400;
  text-transform: capitalize;
}

h2, h3 {
  font-family: $serif;
  font-size: 1.44rem;
  font-weight: 400;
  text-transform: capitalize;
}

h3 {font-size: 1.2rem;}

h1 + h2 {padding: 0.694rem 0;}

p {
  padding: 0.694rem 0 0.694rem;
  font-size: 1rem;
  line-height: 1.5;
}

p:last-child {padding: 0.694rem 0 0;}

small {font-size: 0.833rem;}

strong, em, b {
  font-style: normal;
  font-weight: 500;
}

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {text-align: center;}

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {text-align: right;}


// LISTS
ul, ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

ul {list-style-type: disc;}

ol {list-style-type: decimal;}

ul li, ol li {
  width: 100%;
  padding: 0 0 1rem 0;
}

ul li:last-child, ol li:last-child {padding: 0;}


// TAGS
span.tag {
  margin: 0 0 0 0.694rem;
  padding: 0.125rem 0.75rem;
  border: 1px solid $light-gray;
  border-radius: 2rem;
  font-size: 0.694rem;
  background-color: $off-white;
  white-space: nowrap;
}


// PASSWORD REQUIREMENTS LIST
ul.requirements {
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

ul.requirements li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 1rem;
  line-height: 1.5;
}

ul.requirements li:last-of-type {padding: 0;}

ul.requirements li span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 4rem;
  min-width: 4rem;
  max-width: 4rem;
  height: 1.5rem;
  font-size: 1.5rem;
}


// DEFAULT REQUIREMENTS LIST
ul.requirements li.default span i.la.la-circle {display: flex;}

ul.requirements li.default span i.la.la-check-circle,
ul.requirements li.default span i.la.la-exclamation-circle {display: none;}


// VALID REQUIREMENTS LIST
ul.requirements li.valid {color: $valid;}

ul.requirements li.valid span i.la.la-check-circle {
  display: flex;
  color: $valid;
}

ul.requirements li.valid span i.la.la-circle,
ul.requirements li.valid span i.la.la-exclamation-circle {display: none;}


// INVALID REQUIREMENTS LIST
ul.requirements li.invalid {color: $invalid;}

ul.requirements li.invalid span i.la.la-exclamation-circle {
  display: flex;
  color: $invalid;
}

ul.requirements li.invalid span i.la.la-circle,
ul.requirements li.invalid span i.la.la-check-circle {display: none;}


// ATTACHMENT LIST
ul.attachment-list {
  margin: 0 auto;
  padding: 2rem 2rem 0;
  list-style-type: none;
}

ul.attachment-list li {
  display: flex;
  flex-direction: column;
  padding: 0;
}

ul.attachment-list li .line-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 0;
  font-weight: 500;
  line-height: 1.5;
}

ul.attachment-list li .line-item span.file-type-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2.25rem;
  line-height: 1;
}

ul.attachment-list li .line-item span.file-type-icon:after {
  display: block;
  font-family: "LineAwesome";
}

ul.attachment-list li .line-item span.file-type-icon.jpg:after {content: "\f1e9";}

ul.attachment-list li .line-item span.file-type-icon.word:after {content: "\f1ef";}

ul.attachment-list li .line-item span.file-type-icon.text:after {content: "\f1ec";}

ul.attachment-list li .line-item span.file-type-icon.pdf:after {content: "\f1e7";}

ul.attachment-list li .line-item span.file-type-icon.other:after {content: "\f1df";}

ul.attachment-list li .line-item span.file-name {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.attachment-list li .line-item .button-box {
  position: absolute;
  right: 0;
  width: auto;
  @include transition(all, 0.25s, ease);
}

ul.attachment-list li .line-item .button-box.right {
  flex-direction: row;
  justify-content: flex-end;
}

ul.attachment-list li .line-item .expanding-button-box {max-width: 2.25rem;}

ul.attachment-list li .line-item .expanding-button-box.expand {max-width: 100%;}

ul.attachment-list li .line-item .expanding-button-box .expanding-button.small {display: flex;}

ul.attachment-list li .line-item .expanding-button-box .expanding-button.large {display: none;}


// ATTACHMENT LIST ERRORS
ul.attachment-list li span.error-message {margin: 0.25rem 0 0 0.5rem;}

ul.attachment-list li.invalid span.error-message {opacity: 1;}

ul.attachment-list li.invalid .line-item span.file-type-icon,
ul.attachment-list li.invalid .line-item span.file-name {color: $invalid;}

ul.attachment-list li.invalid .button-box.right {opacity: 0;}


// INVENTORY HELP LIST STYLES
.carousel .carousel-cell.center ul {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  line-height: 1;
}

@media (min-height: 48rem) {
.carousel .carousel-cell.center ul {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.carousel .carousel-cell.center ul li {width: auto;}}

@media (min-width: 48rem) {
.carousel .carousel-cell.center ul {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.carousel .carousel-cell.center ul li {width: auto;}}


// SETTLEMENT OFFER LIST
ul.settlement-offer {
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

ul.settlement-offer li {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 1rem;
}

ul.settlement-offer li:last-of-type {padding: 0;}

ul.settlement-offer li span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 0 1rem;
  font-weight: 400;
}

ul.settlement-offer li span.subtract {color: $invalid;}

ul.settlement-offer li span.subtract.border {
  padding: 0 0 1rem;
  border-bottom: 1px solid $light-gray;
}

ul.settlement-offer li.border {
  margin: 0 0 1rem;
  border-bottom: 1px solid $light-gray;
}


// BUTTONS
button,
.button {
  display: inline-flex;
  align-items: center;
  width: auto;
  min-height: 2.25rem;
  max-height: 2.25rem;
  overflow: hidden;
  margin: 1rem auto 0;
  padding: 0 1.75rem;
  border-radius: 4rem;
  font-size: 0.694rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  @include transition(all, 0.25s, ease-in-out);
}

button.none, .button.none {display: none;}

@media (min-width: 48rem) {button, .button {margin: 0 0.5rem 0;}}

button span.pre, .button span.pre,
button span.post, .button span.post {
  margin: -0.0525rem 0 0;
  font-size: 1rem;
}

button span.pre, .button span.pre {padding: 0 0.5rem 0 0;}

button span.post, .button span.post {padding: 0 0 0 0.5rem;}

button span.post-number,
.button span.post-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 0 0.5rem;
  border-radius: 2rem;
  font-weight: 700;
}

button span.post-processing,
.button span.post-processing {
  max-width: 0;
  margin: -0.0525rem 0 0 0.25rem;
  padding: 0;
  font-size: 1rem;
  opacity: 0;
  @include transition(all, 0.25s, ease-in-out);
}

button span.post-processing.active,
.button span.post-processing.active {
  max-width: 100%;
  padding: 0 0 0 0.5rem;
  opacity: 1;
}

button.big,
.button.big {
  min-height: inherit;
  max-height: inherit;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
}

button.color-one,
.button.color-one {
  border: 1px solid $color-one;
  color: $white;
  background-color: $color-one;
}

button.color-one:hover, button.color-one:focus,
.button.color-one:hover, .button.color-one:focus {
  color: $color-one;
  background-color: $white;
}

button.color-one span.post-number,
.button.color-one span.post-number {
  color: $color-one;
  background-color: $white;
}

button.color-one:hover span.post-number, button.color-one:focus span.post-number,
.button.color-one:hover span.post-number, .button.color-one:focus span.post-number {
  color: $white;
  background-color: $color-one;
}

button.color-two,
.button.color-two {
  border: 1px solid $color-two;
  color: $white;
  background-color: $color-two;
}

button.color-two:hover, button.color-two:focus,
.button.color-two:hover, .button.color-two:focus {
  color: $color-two;
  background-color: $white;
}

button.color-two span.post-number,
.button.color-two span.post-number {
  color: $color-two;
  background-color: $white;
}

button.color-two:hover span.post-number, button.color-two:focus span.post-number,
.button.color-two:hover span.post-number, .button.color-two:focus span.post-number {
  color: $white;
  background-color: $color-two;
}

button.secondary.color-one,
.button.secondary.color-one {
  border: 1px solid $color-one;
  color: $color-one;
  background-color: $white;
}

button.secondary.color-one:hover, button.secondary.color-one:focus,
.button.secondary.color-one:hover, .button.secondary.color-one:focus {
  color: $white;
  background-color: $color-one;
}

button.secondary.color-one span.post-number,
.button.secondary.color-one span.post-number {
  color: $white;
  background-color: $color-one;
}

button.secondary.color-one:hover span.post-number, button.secondary.color-one:focus span.post-number,
.button.secondary.color-one:hover span.post-number, .button.secondary.color-one:focus span.post-number {
  color: $color-one;
  background-color: $white;
}

button.secondary.color-two,
.button.secondary.color-two {
  border: 1px solid $color-two;
  color: $color-two;
  background-color: $white;
}

button.secondary.color-two:hover, button.secondary.color-two:focus,
.button.secondary.color-two:hover, .button.secondary.color-two:focus {
  color: $white;
  background-color: $color-two;
}

button.secondary.color-two span.post-number,
.button.secondary.color-two span.post-number {
  color: $white;
  background-color: $color-two;
}

button.secondary.color-two:hover span.post-number, button.secondary.color-two:focus span.post-number,
.button.secondary.color-two:hover span.post-number, .button.secondary.color-two:focus span.post-number {
  color: $color-two;
  background-color: $white;
}


// HIDE BUTTONS
.button.skip {
  opacity: 1;
	@include transition(all, 0.25s, ease-in-out);
}

.button.skip.hide {opacity: 0;}


// EXPANDING BUTTONS
.expanding-button-box {
  display: inline-flex;
  align-items: center;
  max-width: 2.25rem;
  overflow: hidden;
  margin: 1rem 0 0;
  border-radius: 4rem;
  cursor: pointer;
  @include transition(all, 0.25s, ease-in-out);
}

.line-item .expanding-button-box {margin: 0;}

.expanding-button-box.expand {max-width: 100%;}

.expanding-button-box .expanding-button {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  @include transition(all, 0.25s, ease-in-out);
}

.expanding-button-box .expanding-button.large {display: none;}

.expanding-button-box .expanding-button.small {
  display: flex;
  width: 2.25rem;
  max-width: 2.25rem;
  height: 2.25rem;
  max-height: 2.25rem;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.44rem;
  line-height: 1;
  color: $white;
}

.expanding-button-box .expanding-button.large {
  width: max-content;
  min-width: 8rem;
  min-height: 2.25rem;
  max-height: 2.25rem;
  padding: 1rem 1.175rem;
  font-size: 0.694rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  text-transform: uppercase;
  color: $white;
}

@media (min-width: 48rem) {
.expanding-button-box {
  max-width: 8rem;
  margin: 0;
}
.expanding-button-box.expand {max-width: 100%;}
.expanding-button-box .expanding-button.small {display: none;}
.expanding-button-box .expanding-button.large {display: flex;}}


// CONFIRM ACTION BOX SETTINGS
.expanding-button-box .confirm-action-box {
  display: inline-flex;
  align-items: center;
  padding: 0 0.325rem 0 0.5rem;
  font-size: 0.694rem;
  font-weight: 500;
  line-height: 0;
  text-transform: uppercase;
  color: $white;
  opacity: 0;
  @include transition(all, 0.5s, ease-in-out);
  @include transform(translateX(10rem));
}

.expanding-button-box.expand .confirm-action-box {
  display: inline-flex;
  opacity: 1;
  @include transform(translateX(0));
}

.expanding-button-box .confirm-action-box span.confirm-action-text {
  display: inline-flex;
  width: max-content;
}

.expanding-button-box .confirm-action-box span.confirm-action {
  margin: 0 0 0 0.5rem;
  padding: 0.675rem 0.75rem;
  border-radius: 4rem;
  @include transition(all, 0.25s, ease-in-out);
}


// EXPANDING BUTTON COLOR ONE SETTINGS
.expanding-button-box.color-one {background-color: $color-one;}

.expanding-button-box.color-one .expanding-button {
  border: 1px solid $color-one;
  background-color: $color-one;
}

.expanding-button-box.color-one .expanding-button:hover,
.expanding-button-box.color-one .expanding-button:focus {
  color: $color-one;
  background-color: $white;
}

.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action {
  border: 1px solid $white;
  color: $color-one;
  background-color: $white;
}

.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action:hover,
.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action:focus {
  color: $white;
  background-color: $color-one;
}

.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action.secondary {
  border: 1px solid $white;
  color: $white;
  background-color: $color-one;
}

.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action.secondary:hover,
.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action.secondary:focus {
  color: $color-one;
  background-color: $white;
}


// EXPANDING BUTTON COLOR TWO SETTINGS
.expanding-button-box.color-two {background-color: $color-two;}

.expanding-button-box.color-two .expanding-button {
  border: 1px solid $color-two;
  background-color: $color-two;
}

.expanding-button-box.color-two .expanding-button:hover,
.expanding-button-box.color-two .expanding-button:focus {
  color: $color-two;
  background-color: $white;
}

.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action {
  border: 1px solid $white;
  color: $color-two;
  background-color: $white;
}

.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action:hover,
.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action:focus {
  color: $white;
  background-color: $color-two;
}

.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action.secondary {
  border: 1px solid $white;
  color: $white;
  background-color: $color-two;
}

.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action.secondary:hover,
.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action.secondary:focus {
  color: $color-two;
  background-color: $white;
}


// UPLOAD BUTTON
span.button.upload input[type="file"] {
  position: absolute;
  width: 0;
  min-width: 9.5rem;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}


// INVENTORY SUBMIT BUTTON
@media (min-width: 48rem) {
.button.submit {
  position: absolute;
  right: 0;
}}


// BUTTON BOX/ROW CONTAINER
.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.button-box.right {align-items: flex-end;}

.button-box.left {align-items: flex-start;}

@media (min-width: 48rem) {
.button-box {
  flex-direction: row;
  justify-content: center;
}
.button-box.right {
  align-items: flex-end;
  justify-content: flex-end;
}
.button-box.right .button {margin: 0 0 0 1rem;}
.button-box.left {
  align-items: flex-start;
  justify-content: flex-start;
}
.button-box.left .button,
.button-box.left .expanding-button-box {margin: 0 1rem 0 0;}
form .button-box {padding: 0 1rem;}}


// CURRENT INVENTORY BUTTON BOX
.form-button-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-button-box-button {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.form-button-box .form-button-box-button {padding: 0 0 0 1rem;}

.form-button-box-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-button-box-row.row {flex-direction: row;}

.form-button-box-button .expanding-button-box {margin: 1rem 0 0;}

@media (min-width: 48rem) {
.form-button-box-row {flex-direction: row;}
.form-button-box .form-button-box-button {padding: 0 0 0 0.5rem;}
.form-button-box .form-button-box-row.row .form-button-box-button {padding: 0;}
.form-button-box-button .expanding-button-box {margin: 1rem 0 0 0.5rem;}}


// HEADER
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  background-color: $white;
}

.header--fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.headroom {
  @include transition(all, 0.25s, ease-in-out);
  will-change: transform;
}

.headroom--pinned {@include transform(translateY(0));}

.headroom--unpinned {@include transform(translateY(-100%));}

@media (min-width: 35.5rem) {
header {
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
}}


// LOGO
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  margin: 0;
  padding: 0;
}


// BACK BUTTON
span.back {
  position: absolute;
  left: 2rem;
  font-size: 1.44rem;
  line-height: 1;
  color: $color-one;
  cursor: pointer;
  @include transition(all, 0.25s, ease-in-out);
}

span.back:hover, span.back:focus {color: $color-two;}


// FOOTER
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
  font-size: 0.833rem;
  text-align: left;
}

footer.wide {max-width: none;}

footer.center {
  align-items: center;
  text-align: center;
}

footer span {display: grid;}

footer a {padding: 0.322rem 0 0;}

@media (min-width: 35.5rem) {
footer span {display: block;}
footer a {padding: 0;}}


// NAVIGATION
nav {
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0 0 1rem 0;
    list-style-type: none;
  }

  ul li {
    width: auto;
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 0.833rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-two;
  }

  ul li:last-child {padding: 0;}

  ul li a {
    font-size: 0.833rem;
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
  }

  ul li a span {
    font-size: 1.44rem;
    line-height: 1;
  }
}


// LAYOUT
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 4.43625rem 0 0;
}


// TEXT BOX
.text {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.text.first {padding: 0 2rem;}

.text.border:before {
  display: block;
  margin: 0 auto 2rem;
  border-top: 1px solid $light-gray;
  content: "";
  column-span: all;
}

.text.center {text-align: center;}

.text.left {margin: 0;}


// ACTION TEXT BOX
.action.text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.action.text .text {padding: 0;}

.action.text .button-box {width: inherit;}

@media (min-width: 48rem) {
.action.text {
  flex-direction: row;
  align-items: center;
}
.action.text .text {width: 200%;}
.action.text .button-box.right {margin: 0 0 0 1rem;}
.action.text .button-box.left {margin: 0 1rem 0 0;}}


// ALERT BARS
.alerts {position: absolute;}

.alert-bar {
  position: fixed;
  z-index: 150;
  width: 100%;
  @include transition(all, 0.5s, ease-in-out);
  @include transform(translateY(-20rem));
}

.alert-bar.error {background-color: $invalid;}

.alert-bar.success {background-color: $valid;}

.alert-bar.system {background-color: $color-one;}

.alert-bar.error.show,
.alert-bar.success.show,
.alert-bar.system.show {@include transform(translateY(0));}

.alert-bar .alert-bar-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: $white;
}

.alert-bar .alert-bar-details span {font-size: 2rem;}

.alert-bar .alert-bar-details span.dismiss {cursor: pointer;}

.alert-bar .alert-bar-details span:first-of-type {padding: 0 1rem 0 0;}

.alert-bar .alert-bar-details span:last-of-type {padding: 0 0 0 1rem;}

.alert-bar .alert-bar-details .alert-bar-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.alert-bar .alert-bar-details .alert-bar-message span {
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  color: $white;
}

@media (min-width: 48rem) {
.alert-bar .alert-bar-details {padding: 2rem;}
.alert-bar .alert-bar-details .alert-bar-message span {font-size: 1.2rem;}}


// TIMEOUT
.timeout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5000;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: $white;
  opacity: 0;
  @include transition(all, 0.5s, ease-in-out);
  @include transform(translateY(-100%));
}

.timeout.show {
  z-index: 5000;
  opacity: 1;
  @include transform(translateY(0));
}

.timeout .text {
  margin: 0 auto;
  padding: 2rem;
}


// UPLOAD CONTAINER
.upload-container {display: none;}

.no-touch .upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 2rem;
  padding: 4rem 1rem;
  border: 1px solid #cccece;
  border-radius: 0.25rem;
  text-align: center;
}


// CAROUSELS
.carousel {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 1rem;
  padding: 0;
}

.carousel .flickity-prev-next-button {display: none;}

.carousel .flickity-button-icon {fill: $color-one;}

.carousel .flickity-page-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: inherit;
  bottom: 0;
  width: 100%;
  margin: 1rem auto 0;
}

.carousel .flickity-page-dots .dot {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.25rem;
  padding: 0;
  line-height: 1;
  background: $color-one;
}

.carousel .carousel-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  min-height: 100%;
  margin: auto;
  padding: 0 2rem;
  text-align: left;
}

.carousel .carousel-cell.center {text-align: center;}

.carousel-cell .graphic {
  width: 25%;
  margin: 0 auto 2rem;
}

.carousel-cell .graphic.wide {
  width: 100%;
  margin: 0;
}

@media (min-width: 48rem) {
.carousel {margin: 0 auto 2rem;}
.carousel .flickity-prev-next-button {
  display: block;
  min-width: inherit;
  max-height: inherit;
  padding: 0;
}
.carousel .carousel-cell {padding: 0 6rem;}}


// CURRENT INVENTORY
.current-inventory {
  position: fixed;
  top: calc(100vh - 7rem);
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 2rem;
  background-color: $white;
  @include transition(top, 0.4s, ease-in-out);
}

.release-inventory {
  position: relative;
  width: 100%;
  height: 2rem;
  @include transition(all, 0.25s, ease-in-out);
}

.release-inventory.fixed {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

.current-inventory.release {position: relative;}
	
.current-inventory.open {
  top: 0;
  overflow-y: scroll;
}

.current-inventory .current-inventory-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: $color-one;
  cursor: pointer;
  @include transition(all, 0.25s, ease-in-out);
}

.current-inventory .current-inventory-bar h2 {
  display: flex;
  align-items: center;
  padding: 0;
  color: $white;
}

.current-inventory .current-inventory-bar h2:after {
  display: block;
  margin: 0 0 0 0.5rem;
  content: "\f183";
  font-family: "LineAwesome";
  font-size: 1.75rem;
  color: $white;
  opacity: 1;
  @include transition(all, 0.4s, ease-in-out);
}

.current-inventory.open .current-inventory-bar h2:after {
  @include transform(rotate(0.5turn));
}

.current-inventory.release .current-inventory-bar h2:after,
.current-inventory.release.open .current-inventory-bar h2:after {opacity: 0;}

.current-inventory .current-inventory-bar span.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.75rem;
  min-height: 1.75rem;
  margin: 0 0 0 1rem;
  border-radius: 2rem;
  font-size: 0.833rem;
  font-weight: 700;
  color: $color-one;
  background-color: $white;
}

@media (min-width: 48rem) {
.current-inventory {
  position: relative;
  top: inherit;
}
.current-inventory .current-inventory-bar h2:after {opacity: 0;}}


// CURRENT INVENTORY LIST ITEMS
.current-inventory-list {padding: 2rem 1rem 0;}

.inventory-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 1rem;
  padding: 1rem 0;
  border: 1px solid $light-gray;
  border-radius: 0.25rem;
  background-color: $white;
  @include transition(all, 0.5s, ease-in-out, 0s);
}

.inventory-item.added {
  @include transform(translateY(0));
}

.inventory-item:last-of-type {margin: 0 auto;}

.inventory-item input.accordian {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.inventory-item .inventory-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
}

.inventory-item .inventory-item-header span.item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 2rem;
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 0;
  color: $white;
  background-color: $black;
}

.inventory-item .inventory-item-header i.la.la-angle-down {
  position: absolute;
  right: 1rem;
  line-height: 1.25;
  @include transition(all, 0.25s, ease-in-out);
}

.inventory-item .inventory-item-header .item-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 1rem 0 0;
}

.inventory-item .inventory-item-header .item-details span.description {text-align: left;}

.inventory-item .inventory-item-header .item-details span.cost,
.inventory-item .inventory-item-header .item-details span.age {
  display: none;
  padding: 0 0 0 2rem;
}

.inventory-item .inventory-item-details {
  max-height: 0;
  @include transition(max-height, 0.25s, ease-in-out);
}

.inventory-item input.accordian:checked ~ .inventory-item-details {
  max-height: 100rem;
  @include transition(max-height, 0.5s, ease-in-out);
}

.inventory-item input.accordian:checked ~ .inventory-item-header i.la.la-angle-down {
  @include transform(rotate(0.5turn));
}

.inventory-item .inventory-item-details form {
  padding: 2rem 0 0;
}

@media (min-width: 21.625rem) {.current-inventory-list {padding: 2rem 2rem 0;}}

@media (min-width: 48rem) {
.inventory-item .inventory-item-header .item-details span.description {width: 75%;}
.inventory-item .inventory-item-header .item-details span.cost {
  display: flex;
  width: 20%;
  padding: 0 0 0 1rem;
}}

@media (min-width: 64rem) {
.inventory-item .inventory-item-header .item-details {
  justify-content: space-between;
  width: 94%;
}
.inventory-item .inventory-item-header .item-details span.description {width: 45%;}
.inventory-item .inventory-item-header .item-details span.age {
  display: flex;
  width: 30%;
  padding: 0 0 0 1rem;
}}


// HOME SCREEN
.claim {
  display: block;
  width: 100%;
  padding: 2rem 2rem 0;
}

.claim:first-of-type {padding: 0 2rem;}

.claim-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.25rem;
  text-align: center;
  background-color: $off-white;
}

.claim-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  background-color: $white;
}

.claim-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.25rem;
  text-align: left;
  background-color: $white;
}

.claim-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
}

.claim-details.items, .claim-details.attachments {display: none;}

.claim-details:last-of-type {padding: 0;}

.claim-details-icon {
  font-size: 2rem;
  color: $light-gray;
}

.claim-details .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 1rem;
  text-align: left;
}

.claim-details .details span.claim-label {
  font-size: 0.694rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $light-gray;
}

.claim-details .details span.claim-data {font-weight: 500;}

@media (min-width: 30rem) {
.claim-information {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.claim-details {width: 50%;}
.claim-details:nth-of-type(3n) {padding: 0;}}

@media (min-width: 48rem) {
.claim-details {
  width: initial;
  padding: 0 4rem 0 0;
}
.claim-details.items, .claim-details.attachments {display: flex;}}


// CARDS
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.25rem;
  background-color: $white;
}

.card:last-of-type {margin: 0;}

.card .card-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background-color: $color-one;
}

.card .card-graphic img {width: 5rem;}

.card .card-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0 0;
  padding: 0 1rem 1rem;  
}

.card .card-copy .button {margin: 1rem auto 0;}

.card .card-copy span.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  min-height: 2.25rem;
  margin: 1rem auto 0;
  font-size: 0.833rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card .card-copy span.status.disabled {display: none;}

@media (min-width: 48rem) {
.cards {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.card {
  width: 33%;
  margin: 0 1rem 0 0;
}}


// PROCESSING SPINNER
.spinner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
  background-color: $color-one;
}

.spinner i.la.la-refresh {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
}


// FIGURE & CAPTION
figure {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
}

figcaption {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem 0 0;
  width: 100%;
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: $black;
}

figcaption span.left {
  width: 35%;
  text-align: left;
}

figcaption span.center {
  width: 50%;
  text-align: center;
}

figcaption span.right {
  width: 15%;
  text-align: right;
}


// MAX-WIDTHS
.sm {max-width: 24rem;}

.md {max-width: 32rem;}

.lg {max-width: 40rem;}


// INPUT RESETS
input[type="password"],
input[type="checkbox"],
input[type="select"],
input[type="search"],
input[type="radio"],
input[type="email"],
input[type="file"],
input[type="text"],
input[type="tel"],
input[type="url"] {
  outline-color: $color-one;
  font-size: 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  @include appearance(none);
}


// STRUCTURE
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

legend {display: none;}

.field {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0 1rem;
}

.small {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.xsmall {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
}

@media (min-width: 48rem) {
form {
  flex-direction: row;
  flex-wrap: wrap;
}
form.sm, form.md, form.lg {
  flex-direction: column;
  flex-wrap: nowrap;
}
form.sm fieldset,
form.md fieldset,
form.lg fieldset {width: 100%;}
form.column {flex-direction: column;}
form.column fieldset.small {width: 25%;}
fieldset {width: 50%;}
.small {width: 50%;}
.xsmall {width: 25%;}}

@media (min-width: 72rem) {
fieldset, .small {width: 25%;}
.small fieldset {width: 50%;}}


// INPUTS, LABELS, AND PLACEHOLDERS
.field label, .field input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.833rem;
  @include transition(all, 0.25s, ease-in-out);
  touch-action: manipulation;
}

.field input {
  z-index: 10;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid $black;
  border-radius: 0;
  outline-color: $color-one;
  font-weight: 400;
  line-height: 3;
  background-color: transparent;
  cursor: text;
}

.field input.valid:disabled {opacity: 1;}

.field input:disabled {
  border-color: $light-gray;
  color: $dark-gray;
  cursor: default;
}

input.email-address:disabled,
input.email-address[type="email"].disabled {
  border: none;
  border-bottom: 1px solid $black;
  font-weight: 500;
  color: $black;
  opacity: 1;
}

.field label {
  margin: 0;
  width: 100%;
  font-weight: 500;
  text-align: left;
  color: $black;
}

.field input:placeholder-shown + label {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  transform-origin: left bottom;
  white-space: nowrap;
  @include transform(translate(0,1.5rem));
}

input::placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::placeholder {
  opacity: 1;
  color: $light-gray;
}

.field input:not(:placeholder-shown) + label,
.field input:focus + label {
  cursor: pointer;
  @include transform(translate(0,0));
}


// SHOW/HIDE PASSWORD SETTINGS
.field .show-hide-password {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 15;
  width: 1.5rem;
  height: 1.75rem;
  font-size: 1.5rem;
  color: $color-one;
  cursor: pointer;
  @include transition(all, 0.25s, ease-in-out);
}

.field .show-hide-password:hover,
.field .show-hide-password:focus {color: $color-two;}


// VALID INPUT SETTINGS
.field.valid input {
  border-color: $valid;
  color: $valid;
  @include transition(all, 0.25s, ease-in-out);
}

.field.valid input:not(:placeholder-shown) + label,
.field.valid input:placeholder-shown + label,
.field.valid input:focus + label {color: $valid;}

.field.valid input:not(:placeholder-shown) + label a,
.field.valid input:placeholder-shown + label a,
.field.valid input:focus + label a {color: $valid;}

.field.valid input:not(:placeholder-shown) + label a:hover, .field.valid input:not(:placeholder-shown) + label a:focus,
.field.valid input:placeholder-shown + label a:hover, .field.valid input:placeholder-shown + label a:focus,
.field.valid input:focus + label a:hover, .field.valid input:focus + label a:focus {color: darken($valid, 10%);}

.field.valid select {
  border-color: $valid;
  color: $valid;
}

.field.valid select option,
.field.valid .select-icon,
.field.valid label {color: $valid;}

.field.valid select option span.option {color: $valid;}

.field span.valid {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  color: $valid;
  opacity: 0;
  @include transition(all, 0.25s, ease-in-out);
}

.field.valid span.valid {opacity: 1;}

.field.valid span.select.valid {
  top: 1.5rem;
  right: 2.25rem;
}

.field.valid span.valid.password {
  top: 1.5rem;
  right: 3rem;
}

.field.valid .show-hide-password {color: $valid;}


// INVALID INPUT SETTINGS
span.error-message {
  width: 100%;
  height: inherit;
  min-height: 2rem;
  margin: 0.25rem 0 0 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.833rem;
  font-weight: 600;
  color: $invalid;
  text-align: left;
  opacity: 0;
  @include transition(all, 0.25s, ease-in-out);
}

.field.invalid span.error-message {opacity: 1;}

.field.invalid input {
  border-color: $invalid;
  color: $invalid;
}

.field.invalid input:not(:placeholder-shown) + label,
.field.invalid input:placeholder-shown + label,
.field.invalid input:focus + label {color: $invalid;}

.field.invalid input:not(:placeholder-shown) + label a,
.field.invalid input:placeholder-shown + label a,
.field.invalid input:focus + label a {color: $invalid;}

.field.invalid input:not(:placeholder-shown) + label a:hover, .field.invalid input:not(:placeholder-shown) + label a:focus,
.field.invalid input:placeholder-shown + label a:hover, .field.invalid input:placeholder-shown + label a:focus,
.field.invalid input:focus + label a:hover, .field.invalid input:focus + label a:focus {color: darken($invalid, 10%);}

.field.invalid select {
  border-color: $invalid;
  color: $invalid;
}

.field.invalid select option,
.field.invalid .select-icon,
.field.invalid label {color: $invalid;}

.field.invalid select option span.option {color: $invalid;}

.field.invalid .show-hide-password {color: $invalid;}


// SELECT INPUTS
.field select { // reset
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  @include appearance(none);
}

.field select {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 2.3125rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $black;
  outline-color: $color-one;
  font-family: "Montserrat", sans-serif;
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 3;
  text-overflow: ellipsis;
  background-color: transparent;
  white-space: nowrap;
}

.field select option {
  overflow: hidden;
  outline-color: $color-one;
  text-overflow: ellipsis;
}

.text .field {padding: 0;}

.field .select-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1.575rem;
  right: 1rem;
  z-index: 0;
  font-size: 1rem;
}

.field select:disabled {
  border-color: $light-gray;
  color: $dark-gray;
}

.field select:disabled + .select-icon {color: $light-gray;}


// CHECKBOXES
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  border: 1px solid $black;
  background-color: $white;
  cursor: pointer;
  @include appearance(none);
  @include transition(all, 0.25s, ease-in-out);
}

input[type="checkbox"]:checked:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 1rem;
  color: $white;
  content: '\f17b';
}

input[type="checkbox"]:checked:not(:disabled) {background-color: $black;}

label.checkbox, label.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  min-height: 1.25rem;
  padding: 0 0 0 2rem;
  line-height: 1.5;
}


// VALID CHECKBOX SETTINGS
.field.valid input[type="checkbox"]:checked:not(:disabled) {background-color: $valid;}

.field.valid label span.checkmark {border-color: $valid;}


// INVALID CHECKBOX SETTINGS
.field.invalid input[type="checkbox"]:checked:not(:disabled) {background-color: $invalid;}

span.error-message.checkbox {padding: 0 0 0 2rem;}

.field.invalid label span.checkmark {border-color: $invalid;}


// RADIO BUTTONS
input[type="radio"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  border: 1px solid $black;
  border-radius: 100%;
  background-color: $white;
  cursor: pointer;
  @include appearance(none);
  @include transition(all, 0.25s, ease-in-out);
}

input[type="radio"]:checked:before {
  display: block;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: $black;
  content: "";
}

label.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1.25rem;
  padding: 0 0 0 1.75rem;
}

input:disabled, input:disabled:checked {
  border-color: $light-gray;
  cursor: default;
}

input[type="radio"]:disabled:checked:before {
  display: block;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: $light-gray;
  content: "";
}


// VALID RADIO BUTTON SETTINGS
.field.valid input[type="radio"]:checked:before {background-color: $valid;}


// INVALID RADIO BUTTON SETTINGS
.field.invalid input[type="radio"]:checked:before {background-color: $invalid;}

span.error-message.radio {padding: 0 0 0 1.75rem;}


// SWITCHES
input.toggle[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;
  width: 3.5rem;
  height: 1.75rem;
  min-height: 1.75rem;
  max-height: 1.75rem;
  margin: 0;
  padding: 0.1875rem;
  border-color: transparent;
  border-radius: 2rem;
  background-color: $dark-gray;
  @include transition(all, 0.25s, ease-in-out);
}

input.toggle[type="checkbox"]:checked:before {display: none;}

input.toggle[type="checkbox"]:after {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  border-radius: 100%;
  font-family: "LineAwesome";
  font-size: 1rem;
  background-color: white;
  content: "\f342";
  @include transition(all, 0.25s, ease-in-out);
}

input.toggle[type="checkbox"]:checked {
  background-color: $color-one;
}

input.toggle[type="checkbox"]:checked:after {
  left: calc(100% - 1.25rem);
  color: $color-one;
  content: "\f17b";
}

label.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  min-height: 1.75rem;
  padding: 0 0 0 4rem;
}


// VALID TOGGLE SWITCH SETTINGS
.field.valid input.toggle[type="checkbox"]:not(:disabled),
.field.valid input.toggle[type="checkbox"]:checked:not(:disabled) {background-color: $valid;}

.field.valid input.toggle[type="checkbox"]:after {color: $valid;}


// INVALID TOGGLE SWITCH SETTINGS
.field.invalid input.toggle[type="checkbox"]:not(:disabled),
.field.invalid input.toggle[type="checkbox"]:checked:not(:disabled) {background-color: $invalid;}

.field.invalid input.toggle[type="checkbox"]:after {color: $invalid;}


// SURVEY LIST
ol.survey li fieldset legend {display: block;}

ol.survey li .field {
  flex-direction: column;
  margin: 1rem 0 0;
  padding: 0;
}

ol.survey li .field .survey-group {
  position: relative;
  margin: 0 0 1rem;
}

ol.survey li .field .survey-group:last-of-type {
  margin: 0;
}

ol.survey li .field .survey-group input[type="radio"],
ol.survey li .field .survey-group input[type="checkbox"] {
  left: 0;
}

ol.survey li .field label {
  font-size: 1rem;
  font-weight: 300;
}

ol.survey li .field span.error-message {font-size: 1rem;}