//VARIABLES
$serif: "Roboto Slab", serif;
$sans-serif: "Montserrat", sans-serif;

$white: #ffffff;
$light-gray: #cccece;
$dark-gray: #444853;
$black: #000000;
$errors: #d0021b;
$okay: #008000;
$color-one: #2e84ed;
$color-two: #0f4a92;


//MIXINS
@mixin transition($what: all, $time: 0.25s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
};

@mixin transform($transform: all) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};

@mixin appearance($appearance: none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
};


/* ------------------------------------------
  BASE
--------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: $sans-serif;
  font-size: calc(0.75rem + 0.5vw);
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  color: $black;
}

body {animation: 1s ease-out 0s 1 fadeIn;}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: $color-one;
  @include transition (all, 0.25s, ease);
}

a:hover, a:focus, a:active {color: $color-two;}

img {
  width: 100%;
  height: auto;
  margin: 0;
}


/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */
h1, h2, h3, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
}

h1 {
  font-family: $serif;
  font-size: 1.728rem;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
}

h2, h3 {
  font-family: $serif;
  font-size: 1.44rem;
  font-weight: 400;
  text-transform: capitalize;
}

h3 {font-size: 1.2rem;}

p {
  padding: 0.694rem 0 0.694rem;
  font-size: 1rem;
  line-height: 1.5;
}

p:last-child {padding: 0.694rem 0 0;}

small {font-size: 0.833rem;}

strong, em, b {
  font-style: normal;
  font-weight: 500;
}

h1.center, h2.center, h3.center, p.center, strong.center, em.center, small.center {text-align: center;}

h1.right, h2.right, h3.right, p.right, strong.right, em.right, small.right {text-align: right;}


// LISTS
ul, ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1rem 1rem;
  font-size: 1rem;
  text-align: left;
}

ul {list-style-type: disc;}

ol {list-style-type: decimal;}

ul li, ol li {
  width: 100%;
  padding: 0 0 1rem 0;
}

ul li:last-child, ol li:last-child {padding: 0;}


// PASSWORD REQUIREMENTS LIST
ul.requirements {
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

ul.requirements li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 1rem;
  line-height: 1.5;
}

ul.requirements li:last-of-type {padding: 0;}

ul.requirements li span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 4rem;
  max-width: 4rem;
  width: 4rem;
  height: 1.5rem;
  font-size: 1.5rem;
}


// DEFAULT REQUIREMENTS LIST
ul.requirements li.default span i.la.la-circle {display: flex;}

ul.requirements li.default span i.la.la-check-circle,
ul.requirements li.default span i.la.la-exclamation-circle {display: none;}


// VALID REQUIREMENTS LIST
ul.requirements li.valid {color: $okay;}

ul.requirements li.valid span i.la.la-check-circle {
  display: flex;
  color: $okay;
}

ul.requirements li.valid span i.la.la-circle,
ul.requirements li.valid span i.la.la-exclamation-circle {display: none;}


// INVALID REQUIREMENTS LIST
ul.requirements li.invalid {color: $errors;}

ul.requirements li.invalid span i.la.la-exclamation-circle {
  display: flex;
  color: $errors;
}

ul.requirements li.invalid span i.la.la-circle,
ul.requirements li.invalid span i.la.la-check-circle {display: none;}


// ATTACHMENT LIST
ul.attachment-list {
  margin: 0 auto;
  padding: 2rem 2rem 0;
  list-style-type: none;
}

ul.attachment-list li {
  display: flex;
  flex-direction: column;
  padding: 0;
}

ul.attachment-list li .line-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 0;
  font-weight: 500;
  line-height: 1.5;
}

ul.attachment-list li .line-item span.file-type-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2.5rem;
}

ul.attachment-list li .line-item span.file-name {width: 100%;}

ul.attachment-list li .line-item .button-box {
  position: absolute;
  right: 0;
  width: auto;
}

ul.attachment-list li .line-item .expanding-button-box {max-width: 2.25rem;}

ul.attachment-list li .line-item .expanding-button-box.expand {max-width: 100%;}

ul.attachment-list li .line-item .expanding-button-box .expanding-button.small {display: flex;}

ul.attachment-list li .line-item .expanding-button-box .expanding-button.large {display: none;}


// ATTACHMENT LIST ERRORS
ul.attachment-list li span.error-message {margin: 0.25rem 0 0 0.5rem;}

ul.attachment-list li.invalid span.error-message {opacity: 1;}

ul.attachment-list li.invalid .line-item span.file-type-icon,
ul.attachment-list li.invalid .line-item span.file-name {color: $errors;}

ul.attachment-list li.invalid .button-box.right {opacity: 0;}


/* ------------------------------------------
  BUTTONS
--------------------------------------------- */
button,
.button {
  display: inline-flex;
  align-items: center;
  width: auto;
  min-height: 2.25rem;
  max-height: 2.25rem;
  margin: 1rem auto 0;
  padding: 0 1.75rem;
  border-radius: 4rem;
  font-size: 0.694rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  @include transition (all, 0.25s, ease-in-out);
}

@media (min-width: 48rem) {button, .button {margin: 1rem 0.5rem 0;}}

button span.pre, .button span.pre,
button span.post, .button span.post {
  margin: -0.0525rem 0 0;
  font-size: 1rem;
}

button span.pre, .button span.pre {padding: 0 0.5rem 0 0;}

button span.post, .button span.post {padding: 0 0 0 0.5rem;}

button span.post-number,
.button span.post-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 0 0.5rem;
  border-radius: 2rem;
  font-weight: 700;
}

button.big,
.button.big {
  min-height: inherit;
  max-height: inherit;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  font-weight: 700;
}

button.color-one,
.button.color-one {
  border: 1px solid $color-one;
  color: $white;
  background-color: $color-one;
}

button.color-one:hover, button.color-one:focus,
.button.color-one:hover, .button.color-one:focus {
  color: $color-one;
  background-color: $white;
}

button.color-one span.post-number,
.button.color-one span.post-number {
  color: $color-one;
  background-color: $white;
}

button.color-one:hover span.post-number, button.color-one:focus span.post-number,
.button.color-one:hover span.post-number, .button.color-one:focus span.post-number {
  color: $white;
  background-color: $color-one;
}

button.color-two,
.button.color-two {
  border: 1px solid $color-two;
  color: $white;
  background-color: $color-two;
}

button.color-two:hover, button.color-two:focus,
.button.color-two:hover, .button.color-two:focus {
  color: $color-two;
  background-color: $white;
}

button.color-two span.post-number,
.button.color-two span.post-number {
  color: $color-two;
  background-color: $white;
}

button.color-two:hover span.post-number, button.color-two:focus span.post-number,
.button.color-two:hover span.post-number, .button.color-two:focus span.post-number {
  color: $white;
  background-color: $color-two;
}

button.secondary.color-one,
.button.secondary.color-one {
  border: 1px solid $color-one;
  color: $color-one;
  background-color: $white;
}

button.secondary.color-one:hover, button.secondary.color-one:focus,
.button.secondary.color-one:hover, .button.secondary.color-one:focus {
  color: $white;
  background-color: $color-one;
}

button.secondary.color-one span.post-number,
.button.secondary.color-one span.post-number {
  color: $white;
  background-color: $color-one;
}

button.secondary.color-one:hover span.post-number, button.secondary.color-one:focus span.post-number,
.button.secondary.color-one:hover span.post-number, .button.secondary.color-one:focus span.post-number {
  color: $color-one;
  background-color: $white;
}

button.secondary.color-two,
.button.secondary.color-two {
  border: 1px solid $color-two;
  color: $color-two;
  background-color: $white;
}

button.secondary.color-two:hover, button.secondary.color-two:focus,
.button.secondary.color-two:hover, .button.secondary.color-two:focus {
  color: $white;
  background-color: $color-two;
}

button.secondary.color-two span.post-number,
.button.secondary.color-two span.post-number {
  color: $white;
  background-color: $color-two;
}

button.secondary.color-two:hover span.post-number, button.secondary.color-two:focus span.post-number,
.button.secondary.color-two:hover span.post-number, .button.secondary.color-two:focus span.post-number {
  color: $color-two;
  background-color: $white;
}


// EXPANDING BUTTONS
.expanding-button-box {
  display: inline-flex;
  align-items: center;
  max-width: 2.25rem;
  margin: 0;
  border-radius: 4rem;
  overflow: hidden;
  cursor: pointer;
	@include transition (all, 0.25s, ease-in-out);
}

.expanding-button-box.expand {max-width: 100%;}

.expanding-button-box .expanding-button {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  @include transition (all, 0.25s, ease-in-out);
}

.expanding-button-box .expanding-button.large {display: none;}

.expanding-button-box .expanding-button.small {
  display: flex;
  max-width: 2.25rem;
  max-height: 2.25rem;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.44rem;
  line-height: 1;
  color: $white;
}

.expanding-button-box .expanding-button.large {
  width: max-content;
  min-width: 7.875rem;
  min-height: 2.25rem;
  max-height: 2.25rem;
  padding: 1rem 1.175rem;
  font-size: 0.694rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  text-transform: uppercase;
  color: $white;
}

@media (min-width: 48rem) {
.expanding-button-box {max-width: 7.875rem;}
.expanding-button-box.expand {max-width: 100%;}
.expanding-button-box .expanding-button.small {display: none;}
.expanding-button-box .expanding-button.large {display: flex;}}


/* CONFIRM ACTION BOX SETTINGS */
.expanding-button-box .confirm-action-box {
  display: inline-flex;
  align-items: center;
  padding: 0 0.325rem 0 0.5rem;
  font-size: 0.694rem;
  font-weight: 500;
  line-height: 0;
  text-transform: uppercase;
  color: $white;
  opacity: 0;
  @include transition (all, 0.5s, ease-in-out);
  @include transform (translateX(10rem));
}

.expanding-button-box.expand .confirm-action-box {
  display: inline-flex;
  opacity: 1;
  @include transform (translateX(0));
}

.expanding-button-box .confirm-action-box span.confirm-action-text {
  display: inline-flex;
  width: max-content;
}

.expanding-button-box .confirm-action-box span.confirm-action {
  margin: 0 0 0 0.5rem;
  padding: 0.675rem 1rem;
  border-radius: 4rem;
  @include transition (all, 0.25s, ease-in-out);
}


/* EXPANDING BUTTON COLOR ONE SETTINGS */
.expanding-button-box.color-one {background-color: $color-one;}

.expanding-button-box.color-one .expanding-button {
  border: 1px solid $color-one;
  background-color: $color-one;
}

.expanding-button-box.color-one .expanding-button:hover,
.expanding-button-box.color-one .expanding-button:focus {
  color: $color-one;
  background-color: $white;
}

.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action {
  border: 1px solid $white;
  color: $color-one;
  background-color: $white;
}

.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action:hover,
.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action:focus {
  color: $white;
  background-color: $color-one;
}

.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action.secondary {
  border: 1px solid $white;
  color: $white;
  background-color: $color-one;
}

.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action.secondary:hover,
.expanding-button-box.expand.color-one .confirm-action-box span.confirm-action.secondary:focus {
  color: $color-one;
  background-color: $white;
}


/* EXPANDING BUTTON COLOR TWO SETTINGS */
.expanding-button-box.color-two {background-color: $color-two;}

.expanding-button-box.color-two .expanding-button {
  border: 1px solid $color-two;
  background-color: $color-two;
}

.expanding-button-box.color-two .expanding-button:hover,
.expanding-button-box.color-two .expanding-button:focus {
  color: $color-two;
  background-color: $white;
}

.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action {
  border: 1px solid $white;
  color: $color-two;
  background-color: $white;
}

.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action:hover,
.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action:focus {
  color: $white;
  background-color: $color-two;
}

.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action.secondary {
  border: 1px solid $white;
  color: $white;
  background-color: $color-two;
}

.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action.secondary:hover,
.expanding-button-box.expand.color-two .confirm-action-box span.confirm-action.secondary:focus {
  color: $color-two;
  background-color: $white;
}

// UPLOAD BUTTON
span.button.upload input[type=file] {
  position: absolute;
  width: 0;
  min-width: 9.5rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}


// BUTTON BOX/ROW CONTAINER
.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.button-box.right {
  align-items: flex-end;
  justify-content: flex-end;
}

.button-box.left {
  align-items: flex-start;
  justify-content: flex-start;
}

@media (min-width: 48rem) {
.button-box {
  flex-direction: row;
  justify-content: center;
}}


/* ------------------------------------------
  HEADER
--------------------------------------------- */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  background-color: $white;
}

.header--fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

.headroom {
  @include transition (all, 0.25s, ease-in-out);
  will-change: transform;
}

.headroom--pinned {@include transform(translateY(0));}

.headroom--unpinned {@include transform(translateY(-100%));}

@media (min-width: 35.5rem) {
header {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}}


// LOGO
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  margin: 0;
  padding: 0;
}


// NAVIGATION
nav {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: initial;
    margin: 0;
    padding: 0 0.694rem;
    font-size: 0.694rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
  }
}

@media (min-width: 35.5rem) {
nav {padding: 0;}
nav ul {justify-content: flex-end;}
nav ul li {
  font-size: 0.833rem;
  padding: 0 0 0 1.44rem;
}
nav ul li:last-child {padding: 0 0 0 1.44rem;}}


/* ------------------------------------------
  FOOTER
--------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 2rem;
  font-size: 0.833rem;
  text-align: center;
}

footer a {padding: 0.644rem 0 0;}


/* ------------------------------------------
  LAYOUT
--------------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 6rem 0 0;
}


// TEXT BOX
.text {
  display: block;
  width: 100%;
  margin: auto;
  padding: 2rem 2rem 0;
}

.text.first {padding: 0 2rem;}

.text.border:before {
  display: block;
  margin: 0 auto 2rem;
  border-top: 1px solid $light-gray;
  content: "";
}

.text.center {text-align: center;}


// UPLOAD CONTAINER
.upload-container {display: none;}

.no-touch .upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 4rem 1rem;
  border: 1px solid #cccece;
  border-radius: 0.25rem;
  text-align: center;
}


// MAX-WIDTHS
.sm {max-width: 24rem;}

.md {max-width: 32rem;}

.lg {max-width: 40rem;}


/* ------------------------------------------
  FORMS
--------------------------------------------- */
// INPUT RESETS
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search],
input[type=file],
input[type=select],
input[type=checkbox] {
  outline-color: $color-one;
  font-size: 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  @include appearance (none);
}

input.username:disabled {
  font-weight: 500;
  color: #000000;
  opacity: 1;
}


// STRUCTURE
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

fieldset.small {width: 50%;}

legend {display: none;}

.field {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0 1rem;
}

@media (min-width: 48rem) {
form {
  flex-direction: row;
  flex-wrap: wrap;
}
fieldset.small {width: 25%;}}


// INPUTS, LABELS, AND PLACEHOLDERS
.field label, .field input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.833rem;
  @include transition(all, 0.25s, ease-in-out);
  touch-action: manipulation;
}

.field input {
  z-index: 500;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid $black;
  border-radius: 0;
  font-weight: 400;
  line-height: 3;
  background-color: transparent;
  cursor: text;
}

.field input.valid:disabled {opacity: 1;}

.field label {
  margin: 0;
  width: 100%;
  font-weight: 500;
  text-align: left;
  color: $black;
}

.field input:placeholder-shown + label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  transform-origin: left bottom;
  @include transform (translate(0,1.5rem));
}

input::placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::placeholder {
  opacity: 1;
  color: $light-gray;
}

.field input:not(:placeholder-shown) + label,
.field input:focus + label {
  cursor: pointer;
  @include transform (translate(0,0));
}


// CHECKBOXES
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  border: 1px solid $black;
  background-color: $white;
  cursor: pointer;
  @include appearance(none);
  @include transition(all, 0.25s, ease-in-out);
}

input[type="checkbox"]:checked:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1.125rem;
  width: 1.125rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 1rem;
  color: $white;
  content: '\f17b';
}

input[type="checkbox"]:checked:not(:disabled) {background-color: $black;}

.field.invalid input[type="checkbox"]:checked:not(:disabled) {background-color: $errors;}

label.checkbox, label.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1.25rem;
  padding: 0 0 0 2rem;
}


// FORM VALIDATION
span.error-message {
  width: 100%;
  height: inherit;
  min-height: 2rem;
  margin: 0.25rem 0 0 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.833rem;
  font-weight: 600;
  color: #d0021b;
  text-align: left;
  opacity: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.field.invalid span.error-message {opacity: 1;}

.field.invalid input {
  border-color: #d0021b;
  color: #d0021b;
}

.field.invalid input:not(:placeholder-shown) + label,
.field.invalid input:placeholder-shown + label,
.field.invalid input:focus + label {color: #d0021b;}

.field.invalid select {border-color: #d0021b; color: #d0021b;}

.field.invalid select option,
.field.invalid .select-icon,
.field.invalid label {color: #d0021b;}

.field.invalid select option span.option {color: #d0021b;}


// CHECKBOX INPUT ERROR MESSAGE SETTINGS
span.error-message.checkbox {padding: 0 0 0 2rem;}

.field.invalid label span.checkmark {border-color: #d0021b;}


// SWITCH ERROR MESSAGE SETTINGS
.field.invalid input.switch[type="checkbox"]:checked:not(:disabled) {
  border-color: #d0021b;
  background-color: transparent;
}

.field.invalid input.switch[type="checkbox"] + label .switch-box span.on-off-switch,
.field.invalid input.switch[type="checkbox"]:checked + label .switch-box span.on-off-switch {background-color: #d0021b;}

.field.invalid input.switch[type="checkbox"] + label .switch-box span.off {color: #d0021b;}


// VALID INPUT SETTINGS
.field.valid input {
  border-color: #008000;
  color: #008000;
}

.field.valid input:not(:placeholder-shown) + label,
.field.valid input:placeholder-shown + label,
.field.valid input:focus + label {color: #008000;}

.field.valid select {border-color: #008000; color: #008000;}

.field.valid select option,
.field.valid .select-icon,
.field.valid label {color: #008000;}

.field.valid select option span.option {color: #008000;}

.field span.valid {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  color: #008000;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.field.valid span.valid {display: block;}

.field.valid span.select.valid {
  top: 1.44rem;
  right: 2.2rem;
}