// COLOR
$white: #ffffff;
$off-white: #f5f5f5;
$light-gray: #cccece;
$med-gray: #7f7f7f;
$dark-gray: #444853;
$black: #000000;
$invalid: #bb0000;
$valid: #008000;
// $color-one: #2e84ed;
// $color-two: #0f4a92;