// COLOR
$white: #ffffff;
$off-white: #f5f5f5;
$light-gray: #cccece;
$med-gray: #7f7f7f;
$black: #000000;
$invalid: #bb0000;
$valid: #008000;
$color-one: #2e84ed;
$color-two: #0f4a92;


// ENSERVIO COLORS
$orange: #ea7200;
$dark-gray: #243746;
$cool-gray: #dae1e9;

$blue: #47a4b8;
$aqua: #53c2c3;
$navy: #101820;
$yellow: #f8b34e;