// MICROSOFT HACKS
input::-ms-clear, input::-ms-reveal, ::-ms-clear {display: none;}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

ul.attachment-list li .line-item .button-box {top: 0;}

header {margin: 0 auto;}

header.hidden {
  opacity: 1;
  @include transform(translateY(0));
}

.header--fixed {position: relative;}

.headroom--pinned {@include transform(translateY(0))}

.logo {
  display: block;
  width: auto;
  height: auto;
  max-height: 5rem;
//   margin: 0 auto; <- Removed as part of IE11 testing
}

main {padding: 0 !important;} // <- Important added as part of IE11 testing

.alerts {top: 0;}

.graphic-cell .graphic {height: 25%;}

.carousel-cell .graphic {height: 25%;}

.current-inventory {
  top: inherit;
  z-index: 0;
  height: inherit;
}

.inventory-item {display: block;}

.inventory-item .inventory-item-header i.la.la-angle-down {top: 0.25rem;}

.current-inventory .current-inventory-bar span.counter {
  display: block;
  min-width: inherit;
}

ul.attachment-list li .line-item .expanding-button-box .expanding-button.small span.icon-close {
  position: relative;
  top: 0;
  right: 0.175rem;
}

.no-touch .download-button span.download-icon {
  top: 0.375rem;
  left: 0.325rem;
}

.field input {min-height: 3rem;}

.field input:placeholder-shown + label {transform: translate(0,0);}

input:-ms-input-placeholder {opacity: 1;}

.field select {padding: 0;}

.field .select-icon {display: none;}

.field input[type="checkbox"] {min-height: inherit;}

.field input[type="radio"] {min-height: inherit;}

.receipt-item .receipt-item-header .item-details .buttons {top: -0.25rem;}
.receipt-item .receipt-item-header i.la.la-angle-down {top: 0;}

}