/* ------------------------------------------
  INPUT RESETS
--------------------------------------------- */
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search],
input[type=file],
input[type=select] {
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

input.username:disabled {
  font-weight: 500;
  color: #000000;
  opacity: 1;
}


/* ------------------------------------------
  FORM STRUCTURE
--------------------------------------------- */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

.field {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0 1rem;
}

.small {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* INPUTS, LABELS, AND PLACEHOLDERS */
.field label, .field input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.833rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  touch-action: manipulation;
}

.field input {
  z-index: 500;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  font-weight: 400;
  line-height: 3;
  background-color: transparent;
  cursor: text;
}

.field input.valid:disabled {opacity: 1;}

.field label {
  margin: 0;
  width: 100%;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.field input:placeholder-shown + label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  transform-origin: left bottom;
  -webkit-transform: translate(0,1.5rem);
  -moz-transform: translate(0,1.5rem);
  -o-transform: translate(0,1.5rem);
  transform: translate(0,1.5rem);
}

input::placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::placeholder {opacity: 1; color: #cccece;}

.field input:not(:placeholder-shown) + label,
.field input:focus + label {
  transform: translate(0,0);
  cursor: pointer;
}

@media (min-width: 48rem) {
form {
  flex-direction: row;
  flex-wrap: wrap;
}
.field {width: 50%;}
.small {
  width: 50%;
  margin: 0 0 1rem;
}
.small .field {margin: 0;}}

@media (min-width: 80rem) {
.field, .small {width: 33%;}
.small .field {width: 50%;}}

@media (min-width: 96rem) {.field, .small {width: 25%;}}


/* ------------------------------------------
  SELECT FIELDS
--------------------------------------------- */
.field select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.field select {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 2.3125rem;
  margin: 0;
  padding: 0 2rem 0 0;
  border-bottom: 1px solid #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 0.833rem;
  font-weight: 500;
  line-height: 3;
  text-overflow: ellipsis;
  background-color: transparent;
  white-space: nowrap;
}

.field select option {
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy .field {padding: 0;}

.field .select-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 30%;
  right: 1rem;
  z-index: -50;
  font-size: 1rem;
}


/* ------------------------------------------
  CHECKBOXES
--------------------------------------------- */
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  border: 1px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked:before {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1.125rem;
  width: 1.125rem;
  margin: 0;
  font-family: "LineAwesome";
  font-size: 1rem;
  color: #ffffff;
  content: '\f17b';
}

input[type="checkbox"]:checked:not(:disabled) {background-color: #000000;}

.field.invalid input[type="checkbox"]:checked:not(:disabled) {background-color: #d0021b;}

label.checkbox, label.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1.25rem;
  padding: 0 0 0 1.75rem;
}


/* ------------------------------------------
  RADIOS
--------------------------------------------- */
input[type="radio"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  border: 1px solid #000000;
  border-radius: 100%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="radio"]:checked:before {
  display: block;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: #000000;
  content: '';
}

label.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1.25rem;
  padding: 0 0 0 1.75rem;
}

input:disabled, input:disabled:checked {
  border: 1px solid #cccece;
  cursor: default;
}

input[type="radio"]:disabled:checked:before {
  display: block;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: #cccece;
  content: '';
}


/* ------------------------------------------
  SWITCHES
--------------------------------------------- */
input.switch[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 0;
  width: 3rem;
  height: 1.25rem;
  padding: 0 0.25rem;
  border: 1px solid #000000;
  border-radius: 4rem;
  background-color: transparent;
}

input.switch[type="checkbox"]:checked:before {display: none;}

input.switch[type="checkbox"]:checked {
  border: 1px solid #000000;
  background-color: transparent;
}

.field input.switch:not(:placeholder-shown) + label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 3rem;
  height: 1.25rem;
  padding: 0 0.25rem;
  overflow: hidden;
  -webkit-transform: translate(0,1.25rem);
  -moz-transform: translate(0,1.25rem);
  -o-transform: translate(0,1.25rem);
  transform: translate(0,1.25rem);
}

.switch-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

input.switch[type="checkbox"]:checked + label .switch-box {
  -webkit-transform: translateX(-1.625rem);
  -moz-transform: translateX(-1.625rem);
  -o-transform: translateX(-1.625rem);
  transform: translateX(-1.625rem);
}

span.on-off-switch {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  margin: 0;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: #000000;
}

input.switch[type="checkbox"]:checked + label .switch-box span.on-off-switch {background-color: #000000;}

span.off, span.on {
  display: block;
  width: 1.5rem;
}

span.off {
  text-align: left;
  color: #000000;
}

span.on {text-align: right;}


/* INPUT ERROR MESSAGE SETTINGS */
span.error-message {
  width: 100%;
  height: inherit;
  min-height: 2rem;
  margin: 0.25rem 0 0 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.833rem;
  font-weight: 600;
  color: #d0021b;
  text-align: left;
  opacity: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.field.invalid span.error-message {opacity: 1;}

.field.invalid input {
  border-color: #d0021b;
  color: #d0021b;
}

.field.invalid input:not(:placeholder-shown) + label,
.field.invalid input:placeholder-shown + label,
.field.invalid input:focus + label {color: #d0021b;}

.field.invalid select {border-color: #d0021b; color: #d0021b;}

.field.invalid select option,
.field.invalid .select-icon,
.field.invalid label {color: #d0021b;}

.field.invalid select option span.option {color: #d0021b;}


/* CHECKBOX INPUT ERROR MESSAGE SETTINGS */
span.error-message.checkbox {padding: 0 0 0 1.75rem;}

.field.invalid label span.checkmark {border-color: #d0021b;}


/* SWITCH ERROR MESSAGE SETTINGS */
.field.invalid input.switch[type="checkbox"]:checked:not(:disabled) {
  border-color: #d0021b;
  background-color: transparent;
}

.field.invalid input.switch[type="checkbox"] + label .switch-box span.on-off-switch,
.field.invalid input.switch[type="checkbox"]:checked + label .switch-box span.on-off-switch {background-color: #d0021b;}

.field.invalid input.switch[type="checkbox"] + label .switch-box span.off {color: #d0021b;}


/* VALID INPUT SETTINGS */
.field.valid input {
  border-color: #008000;
  color: #008000;
}

.field.valid input:not(:placeholder-shown) + label,
.field.valid input:placeholder-shown + label,
.field.valid input:focus + label {color: #008000;}

.field.valid select {border-color: #008000; color: #008000;}

.field.valid select option,
.field.valid .select-icon,
.field.valid label {color: #008000;}

.field.valid select option span.option {color: #008000;}

.field span.valid {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  color: #008000;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.field.valid span.valid {display: block;}

.field.valid span.select.valid {
  top: 1.44rem;
  right: 2.2rem;
}
