/* ------------------------------------------
  HEADER
--------------------------------------------- */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  background-color: #ffffff;
}

.header--fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

.headroom {
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}

.headroom--pinned {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

@media (min-width: 35.5rem) {
header {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}}


/* ------------------------------------------
  LOGO
--------------------------------------------- */
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  margin: 0;
  padding: 0;
}


/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */
nav {
  width: 100%;
  padding: 1rem 0 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: initial;
  margin: 0;
  padding: 0 0.694rem;
  font-size: 0.694rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}

@media (min-width: 35.5rem) {
nav {padding: 0;}
nav ul {justify-content: flex-end;}
nav ul li {
  font-size: 0.833rem;
  padding: 0 0 0 1.44rem;
}
nav ul li:last-child {padding: 0 0 0 1.44rem;}}
