@import "_global/base";
@import "_global/typography";
@import "_global/line-awesome";
@import "_global/containers";

@import "_atoms/cards";
@import "_atoms/spinners";
@import "_atoms/buttons";
@import "_atoms/header";
@import "_atoms/footer";
@import "_atoms/alerts";
@import "_atoms/attachments";
@import "_atoms/forms";
@import "_atoms/react-select";
@import "_atoms/accordions";
@import "_atoms/pagination";

@import "_molecules/passwords";
@import "_molecules/carousels";
@import "_molecules/claims";
@import "_molecules/toolbar";

@import "_pages/settlement";
@import "_pages/inventory";
@import "_pages/payments";
@import "_pages/receipts";

@import "_global/microsoft";