// DELETE THESE BEFORE IMPORT?
.current-inventory-list {padding: 2rem 1rem 0;}

@media (min-width: 21.625rem) {.current-inventory-list {padding: 2rem 2rem 0;}}


// CURRENT INVENTORY
.current-inventory {
  position: fixed;
  top: calc(60vh + 4.75rem);
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 2rem;
  background-color: $white;
  @include transition(top, 0.4s, ease-in-out);
}
	
.current-inventory.open {
  top: 0;
  overflow-y: scroll;
}

.current-inventory .current-inventory-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: var(--color-one);
  cursor: pointer;
  @include transition(all, 0.25s, ease-in-out);
}

.current-inventory .current-inventory-bar:after {
  display: block;
  margin: 0 0 0 0.5rem;
  content: "\f183";
  font-family: "LineAwesome";
  font-size: 1.75rem;
  color: $white;
  opacity: 1;
  @include transition(all, 0.4s, ease-in-out);
}

.current-inventory.open .current-inventory-bar:after {
  @include transform(rotate(0.5turn));
}

.current-inventory .current-inventory-bar h2 {
  display: flex;
  align-items: center;
  padding: 0;
  color: $white;
}

.current-inventory .current-inventory-bar span.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 1.75rem;
  min-height: 1.75rem;
  margin: 0 0 0 1rem;
  padding: 0 1rem;
  border-radius: 4rem;
  font-size: 0.833rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: var(--color-one);
  background-color: $white;
}

@media (min-width: 48rem) {
.current-inventory {
  position: relative;
  top: inherit;
  padding: 3rem 0 0;
}
.current-inventory .current-inventory-bar:after {
  display: none;
  opacity: 0;
}}

@media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) { 
    .current-inventory {top: calc(60vh + 2.75rem);}
}


// INVENTORY ACCORDIONS
.accordion.inventory {padding: 1rem 0;}


// INVENTORY ITEM HEADER
.inventory .item-number {padding: 0 1rem;}

.inventory .item-header {
  min-height: inherit;
  padding: 0 1rem;
}

.inventory .description {width: calc(100% - 1.5rem);}

.inventory .description p,
.inventory .cost p,
.inventory .qty p {
  display: block;
  padding: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inventory .cost, .inventory .qty {display: none;}

@media (min-width: 48rem) {
.inventory .description {width: calc(80% - 1.5rem);}
.inventory .cost {
  display: flex;
  width: calc(25% - 1.5rem);
}}

@media (min-width: 64rem) {
.inventory .description {width: calc(70% - 1.5rem);}
.inventory .cost {width: calc(22% - 1.5rem);}
.inventory .qty {
  display: flex;
  width: calc(18% - 1.5rem);
}}


// INVENTORY ITEM DETAILS
.inventory .item-details:before {
  display: block;
  width: calc(100% - 2rem);
  height: 1px;
  margin: 2rem 1rem 0;
  background-color: $light-gray;
  content: "";
}

.inventory .item-details form {padding: 2rem 0 0;}