// TRANSACTIONS & ACH HISTORY HEADER
.transactions, .ach-history {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.transactions:first-of-type, .ach-history:first-of-type {padding: 0 2rem;}

.transactions-container, .ach-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 56rem;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.25rem;
  text-align: center;
  background-color: $off-white;
}

.transactions-header, .ach-history-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin: 0 0 1rem;
  padding: 0;
  background-color: $white;
}

.transactions-information, .ach-history-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.25rem;
  text-align: left;
  background-color: $white;
}

.transactions-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 0.694rem 0 0;
}

.transactions-details-icon {
  font-size: 2rem;
  color: $light-gray;
}

.transactions-details .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding: 0;
  text-align: left;
}

.transactions-details .details span.transactions-label {
  font-size: 0.694rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $light-gray;
}

.transactions-details .details span.transactions-data {
  width: -webkit-fill-available;
  overflow: hidden;
  font-size: 0.833rem;
  font-weight: 500;
  text-overflow: ellipsis;
}

@media (min-width: 48rem) {
.transactions-information, .ach-history-information {
  flex-direction: row;
  align-items: flex-start;
}
.transactions-summary {
  justify-content: flex-end;
  margin: 0;
}
.transactions-details .details span.transactions-data {font-size: 1rem;}}


// TRANSACTIONS & ACH-HISTORY LEDGER
.transactions-ledger, .ach-history-ledger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 0.25rem;
  text-align: left;
  background-color: $white;
}

.transactions-ledger .control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.transactions-ledger .control .field {padding: 0;}

.transactions-ledger .control .field .error-message {display: none;}

.field span.search.la.la-search {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 0;
  font-size: 1.5rem;
}

.transactions-ledger .control .field .select-icon {right: 0;}

.transactions-ledger .ledger, .ach-history-ledger .ledger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: scroll;
  margin: 2rem 0 0;
  padding: 1rem 0 0;
  border-top: 1px solid $light-gray;
}

.transactions-ledger .ledger small, .ach-history-ledger .ledger small {
  padding: 0 0 0.5rem;
  text-align: center;
}

.ach-history-ledger .ledger {
  margin: 0;
  padding: 0;
  border: none;
}

.transactions-ledger .ledger table, .ach-history-ledger .ledger table {
  display: table;
  width: 100%;
  margin: 0;
}

.transactions-ledger .ledger table th,
.transactions-ledger .ledger table td,
.ach-history-ledger .ledger table th,
.ach-history-ledger .ledger table td {
  overflow: hidden;
  padding: 0.2rem 0.2rem 0;
  font-size: 0.833rem;
  font-weight: 500;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transactions-ledger .ledger table td,
.ach-history-ledger .ledger table td {font-weight: 300;}

.transactions-ledger .ledger table tr,
.ach-history-ledger .ledger table tr {line-height: 1.5;}

.transactions-ledger .ledger table th:first-of-type,
.transactions-ledger .ledger table td:first-of-type,
.ach-history-ledger .ledger table th:first-of-type,
.ach-history-ledger .ledger table td:first-of-type {padding: 0.2rem 0.2rem 0 0;}

.transactions-ledger .ledger table th:last-of-type,
.transactions-ledger .ledger table td:last-of-type,
.ach-history-ledger .ledger table th:last-of-type,
.ach-history-ledger .ledger table td:last-of-type {
  padding: 0.2rem 0 0 0.2rem;
  text-align: right;
}

@media (min-width: 30rem) {.ach-history-ledger .ledger small {display: none;}}

@media (min-width: 41.6875rem) {.transactions-ledger .ledger small {display: none;}}

@media (min-width: 48rem) {
.transactions-ledger .ledger,
.ach-history-ledger .ledger {overflow: hidden;}
.transactions-ledger .control form {
  align-items: center;
  justify-content: center;
}
.transactions-ledger .control fieldset:nth-of-type(1n) .field {padding: 0 1rem 0 0;}
.transactions-ledger .control fieldset:nth-of-type(2n) .field {padding: 0 0 0 1rem;}
.field span.search.la.la-search {right: 1rem;}
.transactions-ledger .control .button-box {padding: 1rem 0 0;}
.transactions-ledger .control .button-box .button {margin: 0;}}