// RECEIPTS
.inventory-receipt-list {
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

@media (min-width: 21.625rem) {.inventory-receipt-list {padding: 2rem 2rem 0;}}

.receipt-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 1rem;
  padding: 1rem 0;
  border: 1px solid $light-gray;
  border-radius: 0.25rem;
  background-color: $white;
  @include transition(all, 0.5s, ease-in-out, 0s);
}

.receipt-item input.accordian {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.receipt-item .receipt-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
}

.receipt-item .receipt-item-header span.item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 1.625rem;
  height: 1.625rem;
  min-height: 1.625rem;
  margin: 0 0.5rem 0 0;
  padding: 0 0.625rem;
  border-radius: 4rem;
  font-size: 0.833rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: $white;
  background-color: $black;
}

.receipt-item .receipt-item-header i.la.la-angle-down {
  position: absolute;
  right: 1rem;
  line-height: 1.25;
  @include transition(all, 0.25s, ease-in-out);
}

.receipt-item .receipt-item-header .item-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  width: auto;
  max-width: calc(100% - 3.5rem);
  text-overflow: ellipsis;
}

.receipt-item .receipt-item-header .item-details .replacement-count {display: none;}

.receipt-item .receipt-item-header .item-details .description {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.receipt-item .receipt-item-header .item-details .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 2.5rem;
  min-height: 2.25rem;
  margin: 0 0 0 0.5rem;
}

.receipt-item .receipt-item-header .item-details .button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 2.25rem;
  max-width: 2.25rem;
  height: 2.25rem;
  max-height: 2.25rem;
  margin: 0;
  padding: 0.5rem;
  border-radius: 100%;
  font-size: 1.44rem;
  line-height: 1;
}

.receipt-item .receipt-item-header .item-details .button.copy {display: none;}

.receipt-item .receipt-item-header .item-details .button.icon span.button-label {
  position: absolute;
  overflow: unset;
  line-height: 2.25rem;
  text-overflow: unset;
}

.receipt-item .receipt-details {
  width: 100%;
  max-width: 32rem;
  max-height: 0;
  padding: 0;
  @include transition(max-height, 0.25s, ease-in-out);
}

.receipt-item .receipt-details .receipt-border {
  display: block;
  width: calc(100% - 2rem);
  height: 1px;
  margin: 1rem auto;
  background-color: $light-gray;
}

.receipt-item .receipt-details .receipt-details-box {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.receipt-item input.accordian:checked ~ .receipt-details {
  max-height: 500rem;
  @include transition(max-height, 0.5s, ease-in-out);
}

.receipt-item input.accordian:checked ~ .receipt-item-header i.la.la-angle-down {
  @include transform(rotate(0.5turn));
}

.receipt-item .receipt-details .replacement-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.receipt-item .receipt-details .receipt-details-box-left .replacement-count {padding: 0;}

.receipt-item .receipt-details .replacement-count span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 1.625rem;
  height: 1.625rem;
  min-height: 1.625rem;
  margin: 0 0.5rem 0 0;
  padding: 0 0.625rem;
  border-radius: 4rem;
  font-size: 0.833rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: $white;
  background-color: $black;
}

.receipt-item .receipt-details .replacement-count span:first-of-type {margin: 0 0.5rem 0 0;}

.receipt-item .receipt-details .replacement-count span:last-of-type {margin: 0 0.5rem 0 0.5rem;}

.receipt-item .receipt-details .replacement-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipt-item .receipt-details .replacement-details h2 {
  padding: 1rem 0 0;
  font-family: $sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.receipt-item .receipt-details .replacement-details p {
  padding: 1rem 1rem 0;
  text-align: center;
}

.receipt-item .receipt-details .replacement-details .receipt {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem 0;
}

.receipt-item .receipt-details .replacement-details .receipt:after {
  display: block;
  width: calc(100% - 2rem);
  height: 1px;
  margin: 1rem auto 0;
  background-color: $light-gray;
  content: "";
}

.receipt-item .receipt-details .replacement-details .receipt:last-of-type:after {
  display: none;
}

.receipt-item .receipt-details .replacement-details span.receipt-number {
  display: block;
  width: 100%;
  font-weight: 500;
}

.receipt-item .receipt-details .replacement-details .receipt .receipt-action {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0 0;
}

.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-thumbnail {
  display: none;
  width: 15%;
  max-width: 6rem;
}

.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 0;
}

.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details li {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 0;
  font-weight: inherit;
}

.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details li span {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
}

/*
.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details li span.currency:before {
  display: block;
  content: "$";
}
*/

.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details .button-box {align-items: flex-start;}

.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details .button-box .button {margin: 1rem 0 0 0;}

.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details .button-box .expanding-button-box {margin: 1rem 0 0 0;}

.receipt-item .receipt-details .receipt-image {padding: 2rem 0 0;}

@media (min-width: 48rem) {
.receipt-item .receipt-item-header .item-details {width: calc(100% - 12rem);}
.receipt-item .receipt-item-header .item-details .buttons {min-width: 6rem;}
.receipt-item .receipt-item-header .item-details .button.icon {display: none;}
.receipt-item .receipt-item-header .item-details .description {width: auto;}
.receipt-item .receipt-item-header .item-details .button.copy {display: inline-flex;}
.receipt-item .receipt-item-header .item-details .button {
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 100%;
  height: 2.25rem;
  max-height: 2.25rem;
  margin: 0;
  padding: 0 1.75rem;
  border-radius: 4rem;
  font-size: 0.694rem;
  line-height: 1;
}
.receipt-item .receipt-item-header .item-details .button span.button-label.icon {display: none;}
.receipt-item .receipt-item-header .item-details .button span.button-label.copy {display: block;}
.inventory-receipt-list.summary {padding: 2rem;}
.receipt-item .receipt-details .receipt-details-box {flex-direction: row;}
.receipt-item .receipt-details .receipt-details-box-left {width: 60%;}
.receipt-item .receipt-details .replacement-details h2 {text-align: left;}
.receipt-item .receipt-details .replacement-details p:nth-of-type(2n) {padding: 0 1rem;}
.receipt-item .receipt-details .receipt-details-box-left .replacement-details ul {
  flex-direction: column;
  padding: 0 0 1rem 0;
}
.receipt-item .receipt-details .receipt-details-box-left .replacement-details ul li {
  width: 100%;
  padding: 0.694rem 0 0;
}
.receipt-item .receipt-details .receipt-details-box-left .replacement-details ul li:first-of-type,
.receipt-item .receipt-details .receipt-details-box-left .replacement-details ul li:last-of-type {margin: 0;}
.receipt-item .receipt-details .receipt-details-box-left .replacement-details .button-box {
  justify-content: flex-end;
  padding: 0;
}
.receipt-item .receipt-details .receipt-details-box-left .replacement-details .button-box:before {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 auto 2rem;
  background-color: $light-gray;
  content: "";
}
.receipt-item .receipt-details .receipt-details-box-left .replacement-details .button-box .button:last-of-type {margin: 0 0 0 0.5rem;}
.receipt-item .receipt-details .receipt-image {
  width: 40%;
  padding: 0 0 0 2rem;
}
.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-thumbnail {display: block;}
.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details {padding: 0 0 0 1rem;}
.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details ul {
  width: 83%;
  margin: 0;
}
.receipt-item .receipt-details .replacement-details .receipt .receipt-action .receipt-action-details .button-box {
  flex-direction: column;
  justify-content: flex-start;
}}

@media (min-width: 64rem) {
.receipt-item .receipt-item-header .item-details .replacement-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1rem;
}
.receipt-item .receipt-item-header .item-details .replacement-count span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 1.625rem;
  height: 1.625rem;
  min-height: 1.625rem;
  margin: 0 0.5rem 0 0;
  padding: 0 0.625rem;
  border-radius: 4rem;
  font-size: 0.833rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: $white;
  background-color: $black;
}
.receipt-item .receipt-item-header .item-details .replacement-count span:first-of-type {margin: 0 0.5rem 0 0;}
.receipt-item .receipt-item-header .item-details .replacement-count span:last-of-type {margin: 0 0.5rem 0 0.5rem;}
.receipt-item .receipt-details .replacement-count {display: none;}
.receipt-item .receipt-details .replacement-details p {padding: 0 1rem;}}


// SUBMITTED/DISABLED RECEIPTS
.receipt-item.disabled {color: $med-gray;}
.receipt-item.disabled .receipt-item-header span.item-number {background-color: $med-gray;}
.receipt-item.disabled .receipt-item-header .item-details .replacement-count span {background-color: $med-gray;}


// RECEIPT SUMMARY
.receipt-item .receipt-details .replacement-details.summary h2 {text-align: left;}

.receipt-item .receipt-details .replacement-details.summary h2:before {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 auto 1rem;
  background-color: $light-gray;
  content: "";
}

.receipt-item .receipt-details .replacement-details.summary h2:first-of-type {padding: 0 1rem;}

.receipt-item .receipt-details .replacement-details.summary h2:first-of-type:before {display: none;}

.receipt-item .receipt-details .replacement-details.summary ul {padding: 0 1rem;}

.receipt-item .receipt-details .replacement-details.summary ul li {
  align-items: flex-start;
  justify-content: space-between;
}

.receipt-item .receipt-details .replacement-details.summary ul li:first-of-type {
  padding: 0;
  font-weight: 500;
}

.receipt-item .receipt-details .replacement-details.summary ul li span:before {display: none;}

.receipt-item .receipt-details .replacement-details.summary ul li span.qty {
  position: relative;
  width: 15%;
}

.receipt-item .receipt-details .replacement-details.summary ul li span.amt {
  position: relative;
  width: 75%;
}

/*
.receipt-item .receipt-details .replacement-details.summary ul li span.amt:before {
  display: block;
  content: "$";
}
*/

.receipt-item .receipt-details .replacement-details.summary ul li span.amt.no:before {display: none;}

.receipt-item .receipt-details .replacement-details.summary ul li span.receipt-thumbnail {
  display: grid;
  position: relative;
  width: 20%;
}


// UPLOAD RECEIPT
.upload-line-item-receipts .text.first h1 + p {padding: 1rem 0 0;}
.upload-line-item-receipts .text.first p {padding: 0;}


// SUBMIT RECEIPT
.receipt-item .receipt-details .replacement-details.submit {width: 100%;}

.receipt-item .receipt-details .replacement-details.submit h2 {
  padding: 0;
  text-align: left;
}

.receipt-item .receipt-details .replacement-details.submit h2:before {
  display: block;
  width: 100%;
  height: 1px;
  margin: 1rem auto;
  background-color: $light-gray;
  content: "";
}

.receipt-item .receipt-details .replacement-details.submit h2:first-of-type:before {display: none;}

.receipt-item .receipt-details .replacement-details.submit ul {padding: 0;}

.receipt-item .receipt-details .replacement-details.submit ul li {
  align-items: flex-start;
  justify-content: space-between;
}

.receipt-item .receipt-details .replacement-details.submit ul li:first-of-type {
  padding: 0;
  font-weight: 500;
}

.receipt-item .receipt-details .replacement-details.submit ul li span.qty {
  position: relative;
  width: 25%;
}

.receipt-item .receipt-details .replacement-details.submit ul li span.amt {
  position: relative;
  width: 55%;
}

.receipt-item .receipt-details .replacement-details.submit ul li span:before {display: none;}

/*
.receipt-item .receipt-details .replacement-details.submit ul li span.amt:before {
  display: block;
  content: "$";
}
*/

.receipt-item .receipt-details .replacement-details.submit ul li span.amt.no:before {display: none;}

.receipt-item .receipt-details .replacement-details.submit ul li span.receipt-thumbnail {
  display: grid;
  position: relative;
  width: 20%;
}

@media (min-width: 48rem) {
.inventory-receipt-list.submit {padding: 2rem;}
.receipt-item .receipt-details .replacement-details.submit ul {flex-direction: column;}
.receipt-item .receipt-details .replacement-details.submit ul li {width: 100%;}
.receipt-item .receipt-details .replacement-details.submit ul li:first-of-type,
.receipt-item .receipt-details .replacement-details.submit ul li:last-of-type {margin: 0;}
.receipt-item .receipt-details .replacement-details.submit ul li span.receipt-thumbnail {width: 15%;}}

@media (min-width: 64rem) {.receipt-item .receipt-details .replacement-details.submit ul li span.receipt-thumbnail {width: 10%;}}


// RECEIPT CROP BOX
.receipt-details-form {
  display: flex;
  flex-direction: column;
  max-width: 56rem;
  margin: 0 auto;
}

.receipt-details-form form {align-items: center;}

.receipt-details-form form p {
  padding: 0 0 0.694rem;
  text-align: center;
}

.receipt-crop-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.receipt-crop-box p {
  padding: 0 0 2rem;
  text-align: center;
}

.receipt-crop-box:before {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 auto 2rem;
  background-color: $light-gray;
  content: "";
}

.receipt-controls {
  display: block;
  padding: 0;
}

.receipt-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.receipt-buttons .rotate-button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 2.25rem;
  max-width: 2.25rem;
  height: 2.25rem;
  max-height: 2.25rem;
  padding: 0.5rem;
  border-radius: 100%;
  font-size: 1.44rem;
  line-height: 1;
}

.receipt-controls .rotate-button span.rotate-icon {position: absolute;}

.receipt-controls .rotate-button:first-of-type {margin: 0 0.5rem 0 0;}

.receipt-controls .rotate-button:last-of-type {margin: 0 0 0 0.5rem;}

.receipt-image {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0 0 1rem;
}

@media (min-width: 48rem) {
.receipt-details-form {
  flex-direction: row;
  align-items: flex-start;
}
.receipt-details-form form {
  width: 50%;
  padding: 2rem 1rem 0 2rem;
}
.receipt-details-form form p {text-align: left;}
.receipt-details-form form fieldset.half {width: 50%;}
.receipt-details-form form fieldset.half .field {padding: 0 2rem 0 0;}
.receipt-crop-box {width: 50%;}
.receipt-crop-box p {text-align: left;}
.receipt-crop-box:before {display: none;}}