main {
  padding: 0; }

@media (min-width: 48rem) {
  .text.guide {
    max-width: 40rem;
    margin: 0; }
  .text.guide.wide {
    width: 100%;
    max-width: 100%;
    column-count: 2;
    column-gap: 2rem; }
  .text.guide.wide h1 {
    column-span: all; }
  .text.guide.wide p {
    display: inline-block; } }

p {
  line-height: 2; }

p.lede {
  padding: 0;
  font-weight: 400; }

h1 + p.lede {
  padding: 0.694rem 0;
  font-weight: 300; }

p code {
  margin: 0 0.125rem;
  padding: 0.125rem 0.25rem;
  border: 1px solid #243746;
  border-radius: 0.125rem;
  font-size: 0.9rem;
  background-color: #cccece;
  background-color: rgba(206, 206, 206, 0.25);
  white-space: nowrap; }

@media (min-width: 48rem) {
  p.lede {
    font-size: 1.1rem; } }

ul.contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 1rem;
  line-height: 1;
  list-style-type: none; }

ul.contents:last-of-type {
  padding: 0; }

ul.contents:before {
  display: block;
  width: 100%;
  margin: 0 auto 2rem;
  border-top: 1px solid #cccece;
  content: ""; }

ul.contents:before:first-of-type {
  display: none; }

ul.contents li {
  padding: 0 0 1rem; }

ul.contents li:nth-of-type(2n) h3,
ul.contents li:nth-of-type(3n) h3 {
  padding: 0.694rem 0 0; }

ul.contents li p,
ul.contents li a {
  padding: 0.4165rem 0;
  font-size: 0.833rem;
  line-height: 1.5; }

ul.contents li a {
  padding: 0; }

@media (min-width: 48rem) {
  ul.contents {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  ul.contents li {
    width: calc(100% / 2.25); }
  ul.contents li:nth-of-type(2n) h3 {
    padding: 0; } }

footer {
  flex-direction: column;
  align-items: flex-start; }

footer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  line-height: 1.5; }

footer nav ul li {
  line-height: 2; }

footer nav {
  width: 100%; }
  footer nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0 0 1rem 0;
    list-style-type: none; }
  footer nav ul li {
    width: auto;
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 0.833rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #0f4a92; }
  footer nav ul li:last-child {
    padding: 0; }
  footer nav ul li a {
    font-size: 0.833rem;
    text-align: left;
    text-transform: uppercase;
    opacity: 1; }
  footer nav ul li a span {
    font-size: 1.44rem;
    line-height: 1; }

.split {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem 2rem 0; }

.split .text p {
  line-height: inherit; }

.split:after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 1px;
  margin: 0;
  background-color: #cccece;
  content: ""; }

.split.last {
  padding: 2rem 2rem 0; }

.split.last:after {
  display: none; }

@media (min-width: 48rem) {
  .split {
    flex-direction: row; }
  .split.wide {
    flex-direction: column; } }

.design-sample {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem;
  width: 100%; }

.design-sample.first {
  padding: 0 2rem; }

@media (min-width: 48rem) {
  .design-sample {
    width: 50%;
    padding: 0 1rem 2rem 0; }
  .split.last .design-sample {
    padding: 0 1rem 0 0; }
  .split.wide .design-sample {
    width: 100%;
    padding: 0 0 2rem; } }

/*
.split .design-sample .button {margin: 0;}

.split .design-sample .button:nth-child(2n),
.split .design-sample .button:nth-child(3n) {margin: 1rem 0 0;}

.split .design-sample .button-box {padding: 1rem 0 0;}

.split .design-sample form .button-box {padding: 0 1rem;}

.split .design-sample .expanding-button-box {margin: 0;}

.split .design-sample ul.attachment-list li .line-item .button-box {padding: 0;}

@media (min-width: 48rem) {
.split .design-sample .button:nth-child(2n) {margin: 0 0 0 1rem;}
.split .design-sample .button:nth-child(3n) {margin: 0 0 0 1rem;}}
*/
.split .design-sample form {
  padding: 2rem 0 0; }

.split .design-sample form .field {
  padding: 0; }

.split .design-sample form .small fieldset:nth-of-type(1) {
  padding: 0 1rem 0 0; }

.split .design-sample form .small fieldset:nth-of-type(2) {
  padding: 0 0 0 1rem; }

.split .design-sample form .field .show-hide-password {
  right: 1rem; }

.split .design-sample form .field.valid .show-hide-password {
  right: 2.5rem; }

@media (min-width: 23.4375rem) {
  .split .design-sample form .field {
    padding: 0 1rem; }
  .split .design-sample form .small fieldset:nth-of-type(1),
  .split .design-sample form .small fieldset:nth-of-type(2) {
    padding: 0; } }

@media (min-width: 48rem) {
  .split .design-sample form {
    padding: 2rem 1rem 0; } }

.code-sample {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 1rem; }

.split.last .code-sample,
.split.wide.last .code-sample {
  padding: 0; }

@media (min-width: 48rem) {
  .code-sample {
    width: 50%;
    padding: 0 0 2rem 1rem; }
  .split.wide .code-sample {
    width: 100%;
    padding: 0 0 2rem; }
  .split.last .code-sample {
    padding: 0 0 0 1rem; }
  .split.wide.last .code-sample {
    padding: 0; } }

.color-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.color-cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 47%;
  margin: 0 0 2rem;
  border: 1px solid #cccece;
  border-radius: 0.25rem; }

.color-cards .card .color-sample {
  width: 100%;
  height: 6rem;
  min-height: 6rem; }

.color-cards .card .color-sample.color-one {
  background-color: #2e84ed; }

.color-cards .card .color-sample.color-two {
  background-color: #0f4a92; }

.color-cards .card .color-sample.white {
  background-color: #ffffff; }

.color-cards .card .color-sample.off-white {
  background-color: #f5f5f5; }

.color-cards .card .color-sample.light-gray {
  background-color: #cccece; }

.color-cards .card .color-sample.dark-gray {
  background-color: #243746; }

.color-cards .card .color-sample.black {
  background-color: #000000; }

.color-cards .card .color-sample.invalid {
  background-color: #bb0000; }

.color-cards .card .color-sample.valid {
  background-color: #008000; }

.color-cards .card .card-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0.694rem; }

.color-cards .card .card-copy p {
  padding: 0;
  font-size: 0.694rem;
  font-weight: 700;
  text-transform: uppercase; }

.color-cards .card .card-copy code {
  font-size: 0.575rem; }

@media (min-width: 23.4375rem) {
  .color-cards .card .card-copy code {
    font-size: 0.694rem; } }

@media (min-width: 48rem) {
  .color-cards {
    justify-content: flex-start; }
  .color-cards .card {
    width: 29.625%;
    margin: 0 2rem 2rem 0; }
  .color-cards .card .card-copy code {
    font-size: 0.833rem; } }

figure {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0; }

figure:first-of-type {
  padding: 0; }

figcaption {
  padding: 0 0 0.5rem;
  font-size: 0.694rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #243746; }

pre {
  margin: 0;
  border-right: 1px solid #cccece;
  overflow: auto; }

code {
  font-size: 0.833rem; }

.notes {
  overflow: scroll;
  padding: 2rem 0 0; }

.notes figcaption {
  padding: 0 0 0.347rem;
  column-span: all; }

.notes p {
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 2; }

.notes p:first-of-type {
  padding: 0; }

.notes ul {
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 2; }

.notes ul li {
  padding: 0 0 0.694rem; }

.notes ul li:last-of-type {
  padding: 0; }

.notes p code, .notes ul li code {
  padding: 0.125rem 0.25rem;
  border: 1px solid #243746;
  border-radius: 0.125rem;
  font-size: 0.833rem;
  background-color: #cccece;
  background-color: rgba(206, 206, 206, 0.25);
  white-space: nowrap; }

@media (min-width: 48rem) {
  .notes {
    overflow: hidden; }
  .notes.wide {
    column-count: 2;
    column-gap: 2rem; } }
